In [1]:
%matplotlib inline

import json
import matplotlib.pyplot as plt
import os
import io
import folium
import requests
import pandas as pd
from shapely.geometry import asShape, shape
from shapely.affinity import translate
from shapely.geometry.geo import mapping
from descartes import PolygonPatch

In [18]:
data = json.load(open("./data/countries.geojson"))
d_centroids = {}
for feat in data["features"]:
    geom = asShape(feat["geometry"])
    d_centroids[feat['id']] = [geom.centroid.x, geom.centroid.y]

In [19]:
d_centroids

{'AFG': [66.08669017344639, 33.85639924331851],
 'AGO': [17.470572472744326, -12.245868967981592],
 'ALB': [20.03242638605213, 41.14135336776871],
 'ARE': [54.20671462253365, 23.86863351514742],
 'ARG': [-65.17536065969124, -35.44682138709461],
 'ARM': [45.0002902364525, 40.21660746331794],
 'ATA': [30.02883672126619, -77.32786014887496],
 'ATF': [69.53158047042368, -49.30645491167198],
 'AUS': [134.50277546065465, -25.730654744883033],
 'AUT': [14.076158737088777, 47.61394873674072],
 'AZE': [47.55390962763196, 40.220690707965126],
 'BDI': [29.91390108115306, -3.377391780507063],
 'BEL': [4.580831170355562, 50.652442788532966],
 'BEN': [2.3373776582836743, 9.647430604325601],
 'BFA': [-1.7765373932154904, 12.311650411193026],
 'BGD': [90.26792836633709, 23.839461928066164],
 'BGR': [25.19511089646029, 42.753118773003436],
 'BHS': [-77.92997080393515, 25.515491725336627],
 'BIH': [17.816883262474374, 44.18076800389074],
 'BLR': [27.9813540194957, 53.5063443528151],
 'BLZ': [-88.70342126984333, 17.19708979519939],
 'BMU': [-64.7596428319067, 32.31249269890271],
 'BOL': [-64.64140560988855, -16.72898694975875],
 'BRA': [-53.054339956839804, -10.806773681852473],
 'BRN': [114.9151088130699, 4.690250696299431],
 'BTN': [90.47242488617393, 27.427968650300976],
 'BWA': [23.773081475874147, -22.099711410350604],
 'CAF': [20.3743469839373, 6.542778839030211],
 'CAN': [-98.14238121819608, 61.46907618621374],
 'CHE': [8.118300753356499, 46.791737781866615],
 'CHL': [-71.52064384269408, -39.04701418752334],
 'CHN': [103.88361620775102, 36.55506850593302],
 'CIV': [-5.6120436791882335, 7.553755039532442],
 'CMR': [12.611552456953563, 5.663098262285096],
 'COD': [23.582955887560278, -2.85027562333238],
 'COG': [15.134461756195169, -0.8378009737534027],
 'COL': [-73.07773203253647, 3.9272138479203975],
 'CRI': [-84.17542316107479, 9.965671026982957],
 'CUB': [-78.9606848744816, 21.631751486104132],
 '-99': [46.23074785947273, 9.757970278633923],
 'CYP': [33.039553870938605, 34.90706080017096],
 'CZE': [15.33455826159284, 49.775245261027486],
 'DEU': [10.288485064046565, 51.133722711258805],
 'DJI': [42.498019696806395, 11.773044433321944],
 'DNK': [9.876372826363479, 56.063934567763994],
 'DOM': [-70.46235846504965, 18.88448706027165],
 'DZA': [2.598047814474601, 28.185481292453204],
 'ECU': [-78.38416672242975, -1.4547717410770844],
 'EGY': [29.844461516983504, 26.50661999740764],
 'ERI': [38.678177332848904, 15.427275615053311],
 'ESP': [-3.617020675956449, 40.348656154214375],
 'EST': [25.824728223109098, 58.643695211078615],
 'ETH': [39.55125579592934, 8.653999193325815],
 'FIN': [26.211764688890245, 64.50409386705032],
 'FJI': [163.85314668803582, -17.3163091748653],
 'FLK': [-59.420972793110195, -51.71322176551184],
 'FRA': [2.446568757427331, 46.53596201017112],
 'GAB': [11.687751178626524, -0.6470482175701116],
 'GBR': [-2.853135549593861, 53.914773538359285],
 'GEO': [43.48154010544418, 42.16201894135138],
 'GHA': [-1.2369684817190991, 7.928651850055787],
 'GIN': [-11.060853680804723, 10.448272958512803],
 'GMB': [-15.431873125070858, 13.475334412500354],
 'GNB': [-15.110623891988213, 12.022704479025894],
 'GNQ': [10.366031310571556, 1.6458644272354876],
 'GRC': [22.719813459686637, 39.06671600519395],
 'GRL': [-41.50018111432645, 74.77048769413572],
 'GTM': [-90.36945850600854, 15.699360539402393],
 'GUF': [-53.23850610465858, 3.9059336791597485],
 'GUY': [-58.97120312374411, 4.7902253586691765],
 'HND': [-86.58996381210828, 14.82294706719595],
 'HRV': [16.56619110394417, 45.01623410277826],
 'HTI': [-72.65801345517245, 18.90070095173123],
 'HUN': [19.357628548023534, 47.19995119508128],
 'IDN': [117.42340794351819, -2.2217380413358665],
 'IND': [79.59370366438509, 22.925006300070315],
 'IRL': [-8.01023680654156, 53.18059108949045],
 'IRN': [54.285451492991996, 32.518917306489975],
 'IRQ': [43.75691146416444, 33.03682253689666],
 'ISL': [-18.761028817121847, 65.07427634281433],
 'ISR': [35.0038499626741, 31.484917756757323],
 'ITA': [12.140788356331676, 42.751182763651485],
 'JAM': [-77.324254740848, 18.137635986094782],
 'JOR': [36.779454988821506, 31.245490666265262],
 'JPN': [138.06496186793876, 37.663110587432655],
 'KAZ': [67.28460878718074, 48.191662125259384],
 'KEN': [37.79155523764564, 0.5959662917718914],
 'KGZ': [74.62040463206557, 41.50689357007609],
 'KHM': [104.87608521320288, 12.684728701098114],
 'KOR': [127.82131716620974, 36.42759872225709],
 'CS-KM': [20.895352499812947, 42.579364814805224],
 'KWT': [47.60009862494607, 29.30726673529533],
 'LAO': [103.75025970028895, 18.444978189083884],
 'LBN': [35.87098639945554, 33.911827121169445],
 'LBR': [-9.410836102614711, 6.431619946346841],
 'LBY': [17.974352720239533, 26.997460440963433],
 'LKA': [80.66723578775108, 7.700534337706256],
 'LSO': [28.17010529109305, -29.625290677812963],
 'LTU': [23.88064036129675, 55.284319424545075],
 'LUX': [5.965223241738826, 49.76570531731527],
 'LVA': [24.833295923942458, 56.80717516493736],
 'MAR': [-8.42047971881785, 29.885394456203414],
 'MDA': [28.410482745436717, 47.20367646591227],
 'MDG': [46.691170818879264, -19.356114029038594],
 'MEX': [-102.5763495126284, 23.935371917330773],
 'MKD': [21.69789690466625, 41.605929024780856],
 'MLI': [-3.543294472195163, 17.267772216375366],
 'MLT': [14.405220349501239, 35.92151327679818],
 'MMR': [96.50584091100943, 21.01699982503081],
 'MNE': [19.286181019707648, 42.78903831354488],
 'MNG': [102.94640494589302, 46.823682495246146],
 'MOZ': [35.47261706364551, -17.230446649442374],
 'MRT': [-10.326397038820698, 20.209267212839432],
 'MWI': [34.19360519275309, -13.172832818433942],
 'MYS': [109.69814849304858, 3.7255883777921537],
 'NAM': [17.156168162687653, -22.099776973240573],
 'NCL': [165.53447404749988, -21.261357478271123],
 'NER': [9.32442940354474, 17.34555236127209],
 'NGA': [7.995127765434098, 9.54831838084792],
 'NIC': [-85.02031834631018, 12.848190416553471],
 'NLD': [5.5122172571181105, 52.298700259566616],
 'NOR': [15.46812583944916, 69.15685603473302],
 'NPL': [84.01317380021769, 28.23944004709294],
 'NZL': [172.70192609451473, -41.662578685033644],
 'OMN': [56.098672807132026, 20.611174318316184],
 'PAK': [69.41399808627126, 29.97346004255049],
 'PAN': [-80.10916482305008, 8.530019285800913],
 'PER': [-74.39180587730088, -9.191562965945675],
 'PHL': [122.90267236651444, 11.763799338463128],
 'PNG': [145.31757453497528, -6.451644565279897],
 'POL': [19.31101431086566, 52.14826030557406],
 'PRI': [-66.47922257377317, 18.237224722054247],
 'PRK': [127.16501682893403, 40.14302104546928],
 'PRT': [-8.055765653987546, 39.63404967691429],
 'PRY': [-58.38738769647533, -23.248042095447325],
 'QAT': [51.18350260887302, 25.321851009758305],
 'ROU': [24.943252307608724, 45.857100987775276],
 'RUS': [96.87522333795962, 61.9808407046822],
 'RWA': [29.91896589696581, -2.013515564416977],
 'ESH': [-12.137831279237792, 24.291172849913757],
 'SAU': [44.51636382661863, 24.123289795583638],
 'SDN': [29.862604017208476, 15.990584955445737],
 'SSD': [30.19861747178924, 7.2928895897951325],
 'SEN': [-14.50980270579705, 14.354140014155805],
 'SLB': [159.9666154168499, -8.852497486452757],
 'SLE': [-11.795257379763935, 8.530353735589902],
 'SLV': [-88.87290324483777, 13.726091618589232],
 'SOM': [45.726700723866, 4.752347709937349],
 'SRB': [20.819651225489295, 44.23303717135302],
 'SUR': [-55.91145636465013, 4.120007947741116],
 'SVK': [19.507657094537777, 48.726711307505404],
 'SVN': [14.938152421437369, 46.12542210264743],
 'SWE': [16.61308911399855, 62.75374501934744],
 'SWZ': [31.395255844605924, -26.489855180704044],
 'SYR': [38.5442393733774, 35.012614074829585],
 'TCD': [18.581329575702306, 15.328867455033203],
 'TGO': [0.9964041377430793, 8.439541614235027],
 'THA': [101.00613361307731, 15.016975159492544],
 'TJK': [71.03443536178717, 38.58308139503347],
 'TKM': [59.27543045011875, 39.0912400957797],
 'TLS': [125.96629991038336, -8.767760366825915],
 'TTO': [-61.33036691444967, 10.428237089201879],
 'TUN': [9.534716183500798, 34.1729392589533],
 'TUR': [35.11690118892167, 39.068371751057285],
 'TWN': [120.97480073551253, 23.740964945371164],
 'TZA': [34.752988128602865, -6.257732678257468],
 'UGA': [32.35754824335682, 1.2954870115966217],
 'UKR': [31.36953300795844, 48.97301785822527],
 'URY': [-56.00327859834228, -32.780904514653514],
 'USA': [-112.59943833351177, 45.7056295322373],
 'UZB': [63.203639703135565, 41.7486026261526],
 'VEN': [-66.16382729479622, 7.162132242283131],
 'VNM': [106.28584084813977, 16.657937717046636],
 'VUT': [167.07375125029344, -15.542677299284023],
 'PSE': [35.27331963061304, 31.941136592975468],
 'YEM': [47.53504457693309, 15.913231867023978],
 'ZAF': [25.048013931521393, -28.947033272505536],
 'ZMB': [27.727591839703326, -13.395067586158229],
 'ZWE': [29.788548314172136, -18.90698790433024]}

In [24]:
d_names = {
    "ANTIOQUIA":'ANTIOQUIA',
    "ATLANTICO":'ATLANTICO',
    "SANTAFE DE BOGOTA D.C":'BOGOTA',
    "BOLIVAR":'BOLIVAR',
    "BOYACA":'BOYACA',
    "CALDAS":'CALDAS',
    "CAQUETA":'CAQUETA',
    "CAUCA":'CAUCA',
    "CESAR":'CESAR',
    "CORDOBA":'CORDOBA',
    "CUNDINAMARCA":'CUNDINAMARCA',
    "CHOCO":'CHOCO',
    "HUILA":'HUILA',
    "LA GUAJIRA":'GUAJIRA',
    "MAGDALENA":'MAGDALENA',
    "META":'META',
    "NARIÑO":'NARINO',
    "NORTE DE SANTANDER":'NSANTANDER',
    "QUINDIO":'QUINDIO',
    "RISARALDA":'RISARALDA',
    "SANTANDER":'SANTANDER',
    "SUCRE":'SUCRE',
    "TOLIMA":'TOLIMA',
    "VALLE DEL CAUCA":'VALLE',
    "ARAUCA":'ARAUCA',
    "CASANARE":'CASANARE',
    "PUTUMAYO":'PUTUMAYO',
    "AMAZONAS":'AMAZONAS',
    "GUAINIA":'GUAINIA',
    "GUAVIARE":'GUAVIARE',
    "VAUPES":'VAUPES',
    "VICHADA":'VICHADA',
    "ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA CATALINA":'SANDRES'
}

In [26]:
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=1e3PXAVDF_gPTx-_GTHU9hTAClEKJj5Y_D2_YsW6Vd6U&output=csv')
data = r.content
df_dptos = pd.read_csv(io.StringIO(data.decode("utf-8")))
df_dptos = df_dptos[['nombre_depto','area']]
df_dptos.head()

  nombre_depto    area
0     AMAZONAS  109665
1    ANTIOQUIA   63612
2       ARAUCA   23818
3    ATLANTICO    3388
4       BOGOTA    1587

In [29]:
df_countries = pd.read_csv('./data/areas.csv')
df_countries = df_countries[['Country Name','2017','Country Code']]
df_countries.index = df_countries['Country Name']
df_countries.head()

             Country Name       2017 Country Code
Country Name
Aruba               Aruba      180.0          ABW
Afghanistan   Afghanistan   652860.0          AFG
Angola             Angola  1246700.0          AGO
Albania           Albania    28750.0          ALB
Andorra           Andorra      470.0          AND

In [30]:
def nearest_area(x):
    s = df_countries['2017'].apply(lambda y:abs(y-x))
    n_co = s[s==s.min()].index[0]
    return n_co

In [31]:
df_dptos['neartest_country'] = df_dptos['area'].apply(nearest_area)

In [32]:
df_dptos = pd.merge(left=df_dptos, right=df_countries, left_on='neartest_country', right_on='Country Name', how='inner')

/home/jfm/anaconda3/envs/colendatos/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3265: FutureWarning: 'Country Name' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

In [33]:
df_dptos['diff'] = df_dptos['area'] - df_dptos['2017']

In [34]:
df_dptos['p_diff'] = df_dptos['diff'].apply(abs)/df_dptos['area']

In [36]:
df_dptos.index = df_dptos['nombre_depto']

In [65]:
df_dptos.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>nombre_depto</th>\n      <th>area</th>\n      <th>neartest_country</th>\n      <th>Country Name</th>\n      <th>2017</th>\n      <th>Country Code</th>\n      <th>diff</th>\n      <th>p_diff</th>\n    </tr>\n    <tr>\n      <th>nombre_depto</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>AMAZONAS</th>\n      <td>AMAZONAS</td>\n      <td>109665</td>\n      <td>Cuba</td>\n      <td>Cuba</td>\n      <td>109880.0</td>\n      <td>CUB</td>\n      <td>-215.0</td>\n      <td>0.001961</td>\n    </tr>\n    <tr>\n      <th>ANTIOQUIA</th>\n      <td>ANTIOQUIA</td>\n      <td>63612</td>\n      <td>Latvia</td>\n      <td>Latvia</td>\n      <td>64490.0</td>\n      <td>LVA</td>\n      <td>-878.0</td>\n      <td>0.013802</td>\n    </tr>\n    <tr>\n      <th>ARAUCA</th>\n      <td>ARAUCA</td>\n      <td>23818</td>\n      <td>Djibouti</td>\n      <td>Djibouti</td>\n      <td>23200.0</td>\n      <td>DJI</td>\n      <td>618.0</td>\n      <td>0.025947</td>\n    </tr>\n    <tr>\n      <th>BOYACA</th>\n      <td>BOYACA</td>\n      <td>23189</td>\n      <td>Djibouti</td>\n      <td>Djibouti</td>\n      <td>23200.0</td>\n      <td>DJI</td>\n      <td>-11.0</td>\n      <td>0.000474</td>\n    </tr>\n    <tr>\n      <th>MAGDALENA</th>\n      <td>MAGDALENA</td>\n      <td>23188</td>\n      <td>Djibouti</td>\n      <td>Djibouti</td>\n      <td>23200.0</td>\n      <td>DJI</td>\n      <td>-12.0</td>\n      <td>0.000518</td>\n    </tr>\n    <tr>\n      <th>TOLIMA</th>\n      <td>TOLIMA</td>\n      <td>23562</td>\n      <td>Djibouti</td>\n      <td>Djibouti</td>\n      <td>23200.0</td>\n      <td>DJI</td>\n      <td>362.0</td>\n      <td>0.015364</td>\n    </tr>\n    <tr>\n      <th>ATLANTICO</th>\n      <td>ATLANTICO</td>\n      <td>3388</td>\n      <td>Samoa</td>\n      <td>Samoa</td>\n      <td>2840.0</td>\n      <td>WSM</td>\n      <td>548.0</td>\n      <td>0.161747</td>\n    </tr>\n    <tr>\n      <th>BOGOTA</th>\n      <td>BOGOTA</td>\n      <td>1587</td>\n      <td>Faroe Islands</td>\n      <td>Faroe Islands</td>\n      <td>1396.0</td>\n      <td>FRO</td>\n      <td>191.0</td>\n      <td>0.120353</td>\n    </tr>\n    <tr>\n      <th>BOLIVAR</th>\n      <td>BOLIVAR</td>\n      <td>25978</td>\n      <td>Macedonia, FYR</td>\n      <td>Macedonia, FYR</td>\n      <td>25710.0</td>\n      <td>MKD</td>\n      <td>268.0</td>\n      <td>0.010316</td>\n    </tr>\n    <tr>\n      <th>CORDOBA</th>\n      <td>CORDOBA</td>\n      <td>25020</td>\n      <td>Macedonia, FYR</td>\n      <td>Macedonia, FYR</td>\n      <td>25710.0</td>\n      <td>MKD</td>\n      <td>-690.0</td>\n      <td>0.027578</td>\n    </tr>\n    <tr>\n      <th>PUTUMAYO</th>\n      <td>PUTUMAYO</td>\n      <td>24885</td>\n      <td>Macedonia, FYR</td>\n      <td>Macedonia, FYR</td>\n      <td>25710.0</td>\n      <td>MKD</td>\n      <td>-825.0</td>\n      <td>0.033153</td>\n    </tr>\n    <tr>\n      <th>CALDAS</th>\n      <td>CALDAS</td>\n      <td>7888</td>\n      <td>Puerto Rico</td>\n      <td>Puerto Rico</td>\n      <td>8870.0</td>\n      <td>PRI</td>\n      <td>-982.0</td>\n      <td>0.124493</td>\n    </tr>\n    <tr>\n      <th>CAQUETA</th>\n      <td>CAQUETA</td>\n      <td>88965</td>\n      <td>Jordan</td>\n      <td>Jordan</td>\n      <td>89320.0</td>\n      <td>JOR</td>\n      <td>-355.0</td>\n      <td>0.003990</td>\n    </tr>\n    <tr>\n      <th>CASANARE</th>\n      <td>CASANARE</td>\n      <td>44640</td>\n      <td>Estonia</td>\n      <td>Estonia</td>\n      <td>45230.0</td>\n      <td>EST</td>\n      <td>-590.0</td>\n      <td>0.013217</td>\n    </tr>\n    <tr>\n      <th>CHOCO</th>\n      <td>CHOCO</td>\n      <td>46530</td>\n      <td>Estonia</td>\n      <td>Estonia</td>\n      <td>45230.0</td>\n      <td>EST</td>\n      <td>1300.0</td>\n      <td>0.027939</td>\n    </tr>\n    <tr>\n      <th>CAUCA</th>\n      <td>CAUCA</td>\n      <td>29308</td>\n      <td>Solomon Islands</td>\n      <td>Solomon Islands</td>\n      <td>28900.0</td>\n      <td>SLB</td>\n      <td>408.0</td>\n      <td>0.013921</td>\n    </tr>\n    <tr>\n      <th>CESAR</th>\n      <td>CESAR</td>\n      <td>22905</td>\n      <td>Belize</td>\n      <td>Belize</td>\n      <td>22970.0</td>\n      <td>BLZ</td>\n      <td>-65.0</td>\n      <td>0.002838</td>\n    </tr>\n    <tr>\n      <th>CUNDINAMARCA</th>\n      <td>CUNDINAMARCA</td>\n      <td>22633</td>\n      <td>Belize</td>\n      <td>Belize</td>\n      <td>22970.0</td>\n      <td>BLZ</td>\n      <td>-337.0</td>\n      <td>0.014890</td>\n    </tr>\n    <tr>\n      <th>GUAINIA</th>\n      <td>GUAINIA</td>\n      <td>72238</td>\n      <td>Sierra Leone</td>\n      <td>Sierra Leone</td>\n      <td>72300.0</td>\n      <td>SLE</td>\n      <td>-62.0</td>\n      <td>0.000858</td>\n    </tr>\n    <tr>\n      <th>GUAJIRA</th>\n      <td>GUAJIRA</td>\n      <td>20848</td>\n      <td>El Salvador</td>\n      <td>El Salvador</td>\n      <td>21040.0</td>\n      <td>SLV</td>\n      <td>-192.0</td>\n      <td>0.009210</td>\n    </tr>\n    <tr>\n      <th>GUAVIARE</th>\n      <td>GUAVIARE</td>\n      <td>53460</td>\n      <td>Bosnia and Herzegovina</td>\n      <td>Bosnia and Herzegovina</td>\n      <td>51210.0</td>\n      <td>BIH</td>\n      <td>2250.0</td>\n      <td>0.042088</td>\n    </tr>\n    <tr>\n      <th>HUILA</th>\n      <td>HUILA</td>\n      <td>19890</td>\n      <td>Slovenia</td>\n      <td>Slovenia</td>\n      <td>20270.0</td>\n      <td>SVN</td>\n      <td>-380.0</td>\n      <td>0.019105</td>\n    </tr>\n    <tr>\n      <th>META</th>\n      <td>META</td>\n      <td>85635</td>\n      <td>Azerbaijan</td>\n      <td>Azerbaijan</td>\n      <td>86600.0</td>\n      <td>AZE</td>\n      <td>-965.0</td>\n      <td>0.011269</td>\n    </tr>\n    <tr>\n      <th>NARINO</th>\n      <td>NARINO</td>\n      <td>33268</td>\n      <td>Moldova</td>\n      <td>Moldova</td>\n      <td>33850.0</td>\n      <td>MDA</td>\n      <td>-582.0</td>\n      <td>0.017494</td>\n    </tr>\n    <tr>\n      <th>NSANTANDER</th>\n      <td>NSANTANDER</td>\n      <td>21658</td>\n      <td>Israel</td>\n      <td>Israel</td>\n      <td>22070.0</td>\n      <td>ISR</td>\n      <td>-412.0</td>\n      <td>0.019023</td>\n    </tr>\n    <tr>\n      <th>VALLE</th>\n      <td>VALLE</td>\n      <td>22140</td>\n      <td>Israel</td>\n      <td>Israel</td>\n      <td>22070.0</td>\n      <td>ISR</td>\n      <td>70.0</td>\n      <td>0.003162</td>\n    </tr>\n    <tr>\n      <th>QUINDIO</th>\n      <td>QUINDIO</td>\n      <td>1845</td>\n      <td>Comoros</td>\n      <td>Comoros</td>\n      <td>1861.0</td>\n      <td>COM</td>\n      <td>-16.0</td>\n      <td>0.008672</td>\n    </tr>\n    <tr>\n      <th>RISARALDA</th>\n      <td>RISARALDA</td>\n      <td>4140</td>\n      <td>Cabo Verde</td>\n      <td>Cabo Verde</td>\n      <td>4030.0</td>\n      <td>CPV</td>\n      <td>110.0</td>\n      <td>0.026570</td>\n    </tr>\n    <tr>\n      <th>SANDRES</th>\n      <td>SANDRES</td>\n      <td>52</td>\n      <td>Bermuda</td>\n      <td>Bermuda</td>\n      <td>50.0</td>\n      <td>BMU</td>\n      <td>2.0</td>\n      <td>0.038462</td>\n    </tr>\n    <tr>\n      <th>SANTANDER</th>\n      <td>SANTANDER</td>\n      <td>30537</td>\n      <td>Belgium</td>\n      <td>Belgium</td>\n      <td>30530.0</td>\n      <td>BEL</td>\n      <td>7.0</td>\n      <td>0.000229</td>\n    </tr>\n    <tr>\n      <th>SUCRE</th>\n      <td>SUCRE</td>\n      <td>10917</td>\n      <td>Kosovo</td>\n      <td>Kosovo</td>\n      <td>10887.0</td>\n      <td>XKX</td>\n      <td>30.0</td>\n      <td>0.002748</td>\n    </tr>\n    <tr>\n      <th>VAUPES</th>\n      <td>VAUPES</td>\n      <td>54135</td>\n      <td>Croatia</td>\n      <td>Croatia</td>\n      <td>56590.0</td>\n      <td>HRV</td>\n      <td>-2455.0</td>\n      <td>0.045350</td>\n    </tr>\n    <tr>\n      <th>VICHADA</th>\n      <td>VICHADA</td>\n      <td>100242</td>\n      <td>Korea, Rep.</td>\n      <td>Korea, Rep.</td>\n      <td>100280.0</td>\n      <td>KOR</td>\n      <td>-38.0</td>\n      <td>0.000379</td>\n    </tr>\n  </tbody>\n</table>'

In [11]:
import folium
import folium.plugins
from folium.features import *

In [56]:
data = json.load(open("./data/colombia.geojson"))
ava_deptos = []
for feat in data["features"]:
    new_features = []
    geom = feat["geometry"]
    if geom['type'] == "MultiPolygon":
        geom['coordinates'] = geom['coordinates'][-1]
        geom['type'] = "Polygon"
    geom = asShape(feat["geometry"])
    std_name = d_names[feat['properties']['NOMBRE_DPT']]
    nearest_co_code = df_dptos.loc[std_name]["Country Code"]
    #if feat['properties']['NOMBRE_DPT'] == "AMAZONAS":
    geom_d = geom
    if nearest_co_code in d_centroids:
        ava_deptos.append(std_name)
        x_co, y_co = d_centroids[nearest_co_code]
        x_de, y_de = geom_d.centroid.x, geom_d.centroid.y
        geom_d = asShape(feat["geometry"])
        geom_d = translate(geom_d, xoff=(x_co-x_de), yoff=(y_co-y_de), zoff=0.0)
        geom_d = mapping(geom_d)
        #print(geom_d)
        feat['geometry'] = geom_d
        new_features.append(feat)
        data["features"] = new_features
        with open('./data/translated_depto_%s.geojson' % std_name, 'w') as fp:
            json.dump(data, fp)
    
#data = json.load(open("./data/translated_depto.geojson"))

In [63]:
for depto in ava_deptos:

    colombia_map_0 = os.path.join('data', 'translated_depto_%s.geojson' % depto)

    m = folium.Map(
        location=[-59.1759, -11.6016],
        tiles='Mapbox Bright',
        zoom_start=2
    )

    def style_function(feature):
        return {'weight':'1', 'fillColor':'red', 'color':'red'}

    folium.GeoJson(
        colombia_map_0,
        name='geojson',
        style_function=style_function
    ).add_to(m)

    folium.LayerControl().add_to(m)

    m.save("./web/traslated_deptos/%s.html" % depto)